/* PAYMENT LOGO */

.network-container {
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.918);
  padding: 10px;
}

.mtn-container p {
  color: rgb(3, 1, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.networkContainer {
  display: flex;
  margin-top: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Airtel-Network-indiviual {
  display: flex;
  background: rgb(199 44 44);
  margin-top: 10px;
  border: solid thin white;
  border-radius: 4px;
  width: 60%;
  height: 70px;
  color: white;
  font-weight: 600;
}

.Mtn-Network-indiviual {
  display: flex;
  background: rgb(233, 214, 12);
  margin-top: 10px;
  border: solid thin white;
  border-radius: 4px;
  width: 60%;
  height: 70px;
  color: black;
  font-weight: 600;
}
.Zamtel-Network-indiviual {
  display: flex;
  background: rgb(0, 156, 60);
  margin-top: 10px;
  border: solid thin white;
  border-radius: 4px;
  width: 60%;
  height: 70px;
  color: white;
  font-weight: 600;
}

.networkSevice {
  margin-top: 10px;
  margin-right: 12px;
  width: 40px;
}

.label-network {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  margin-top: 3px;
  font-size: small;
}
.arrow {
  margin-left: 65%;
}

.arrow-icon {
  margin-top: 100%;
  width: 20px;
}
/* End of PAYMENT design */

/* Aritel service  */

.mtn-form {
  background: #ffc107;
  padding: 10px;
  border-radius: 8px;
}
.mtn-form img {
  width: 70px;
  border-radius: 5px;
}
/* airtel  */
.airtel-form {
  background: rgb(231 87 79);
  padding: 10px;
  border-radius: 8px;
}
.airtel-form img {
  width: 70px;
  border-radius: 5px;
}
/* zamtel  */

.zamtel-form {
  background: rgb(0, 156, 60);
  padding: 10px;
  border-radius: 8px;
}
.zamtel-form img {
  width: 70px;
  border-radius: 5px;
}

.airtel-form span {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  margin-left: 5px;
}
.airtel-form p {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  margin-left: 76px;
}
.airtel-form label {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  margin-right: 25%;
}
.airtel-form input {
  width: 30% !important;
  font-size: smaller !important;
}
.mtn-form button {
  width: 15%;
  border: none;
  border-radius: 8px;
  background: #ceb9b9;
  transition: 1s;
}

.airtel-form button {
  width: 15%;
  border: none;
  border-radius: 8px;
  background: #ceb9b9;
  transition: 1s;
}

.zateml-form button {
  width: 15%;
  border: none;
  border-radius: 8px;
  background: #ceb9b9;
  transition: 1s;
}

.airtel-form button:hover {
  background: rgba(184, 65, 38, 0.622);
  transition: 1s;
}

.mtn-form button:hover {
  background: rgb(210, 153, 29);
  transition: 1s;
}

.zamtel-form button:hover {
  background: rgba(28, 96, 20, 0.444);
  transition: 1s;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.service p {
  color: rgb(245, 245, 245);
  font-family: "Times New Roman", Times, serif;
}
/*end Aritel service  */
